// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$check-after-name: 'check_after';
$check-after-x: 241px;
$check-after-y: 709px;
$check-after-offset-x: -241px;
$check-after-offset-y: -709px;
$check-after-width: 26px;
$check-after-height: 19px;
$check-after-total-width: 804px;
$check-after-total-height: 756px;
$check-after-image: '../images/sprite-white.png';
$check-after: (241px, 709px, -241px, -709px, 26px, 19px, 804px, 756px, '../images/sprite-white.png', 'check_after', );
$foot-logo-name: 'foot_logo';
$foot-logo-x: 0px;
$foot-logo-y: 709px;
$foot-logo-offset-x: 0px;
$foot-logo-offset-y: -709px;
$foot-logo-width: 201px;
$foot-logo-height: 47px;
$foot-logo-total-width: 804px;
$foot-logo-total-height: 756px;
$foot-logo-image: '../images/sprite-white.png';
$foot-logo: (0px, 709px, 0px, -709px, 201px, 47px, 804px, 756px, '../images/sprite-white.png', 'foot_logo', );
$ico-allgame-name: 'ico_allgame';
$ico-allgame-x: 201px;
$ico-allgame-y: 709px;
$ico-allgame-offset-x: -201px;
$ico-allgame-offset-y: -709px;
$ico-allgame-width: 40px;
$ico-allgame-height: 32px;
$ico-allgame-total-width: 804px;
$ico-allgame-total-height: 756px;
$ico-allgame-image: '../images/sprite-white.png';
$ico-allgame: (201px, 709px, -201px, -709px, 40px, 32px, 804px, 756px, '../images/sprite-white.png', 'ico_allgame', );
$sprite-white-name: 'sprite-white';
$sprite-white-x: 0px;
$sprite-white-y: 0px;
$sprite-white-offset-x: 0px;
$sprite-white-offset-y: 0px;
$sprite-white-width: 804px;
$sprite-white-height: 709px;
$sprite-white-total-width: 804px;
$sprite-white-total-height: 756px;
$sprite-white-image: '../images/sprite-white.png';
$sprite-white: (0px, 0px, 0px, 0px, 804px, 709px, 804px, 756px, '../images/sprite-white.png', 'sprite-white', );
$spritesheet-width: 804px;
$spritesheet-height: 756px;
$spritesheet-image: '../images/sprite-white.png';
$spritesheet-sprites: ($check-after, $foot-logo, $ico-allgame, $sprite-white, );
$spritesheet: (804px, 756px, '../images/sprite-white.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
