// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-discord-name: 'ico_discord';
$ico-discord-x: 0px;
$ico-discord-y: 0px;
$ico-discord-offset-x: 0px;
$ico-discord-offset-y: 0px;
$ico-discord-width: 48px;
$ico-discord-height: 48px;
$ico-discord-total-width: 73px;
$ico-discord-total-height: 48px;
$ico-discord-image: '../spritesmith-generated/sprite-dark.png';
$ico-discord: (0px, 0px, 0px, 0px, 48px, 48px, 73px, 48px, '../spritesmith-generated/sprite-dark.png', 'ico_discord', );
$ico-dropdown-name: 'ico_dropdown';
$ico-dropdown-x: 48px;
$ico-dropdown-y: 0px;
$ico-dropdown-offset-x: -48px;
$ico-dropdown-offset-y: 0px;
$ico-dropdown-width: 25px;
$ico-dropdown-height: 17px;
$ico-dropdown-total-width: 73px;
$ico-dropdown-total-height: 48px;
$ico-dropdown-image: '../spritesmith-generated/sprite-dark.png';
$ico-dropdown: (48px, 0px, -48px, 0px, 25px, 17px, 73px, 48px, '../spritesmith-generated/sprite-dark.png', 'ico_dropdown', );
$ico-find-close-name: 'ico_find_close';
$ico-find-close-x: 48px;
$ico-find-close-y: 17px;
$ico-find-close-offset-x: -48px;
$ico-find-close-offset-y: -17px;
$ico-find-close-width: 16px;
$ico-find-close-height: 16px;
$ico-find-close-total-width: 73px;
$ico-find-close-total-height: 48px;
$ico-find-close-image: '../spritesmith-generated/sprite-dark.png';
$ico-find-close: (48px, 17px, -48px, -17px, 16px, 16px, 73px, 48px, '../spritesmith-generated/sprite-dark.png', 'ico_find_close', );
$spritesheet-width: 73px;
$spritesheet-height: 48px;
$spritesheet-image: '../spritesmith-generated/sprite-dark.png';
$spritesheet-sprites: ($ico-discord, $ico-dropdown, $ico-find-close, );
$spritesheet: (73px, 48px, '../spritesmith-generated/sprite-dark.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
